<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="repairs_action_view" model="ir.actions.act_window">
            <field name="name">Reparaciones</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">repairs</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    En este momento no se cuenta con ninguna reparacion registrada. Por favor, proceda a registrar una reparacion
                    para dar inicio al proceso.
                </p>
            </field>
        </record>

        <menuitem name="Simapas Jamay" id="simapas" web_icon="simapas,static/description/icon.png"/>
        <menuitem name="Reparaciones" id="repairs" parent="simapas" action="repairs_action_view" sequence="10"/>

    </data>
</odoo>